- hosts: localhost
  become: no
  vars:
    homebrew:
      repositories:
        - homebrew/cask-fonts
        - neovim/neovim
        - universal-ctags/universal-ctags
      packages:
        - git
        - tmux
        - peco
        - ghq
        - neovim
        - reattach-to-user-namespace
        - node
        - yarn
        - python
        - python3
        - r
        - gcc5 # for xgboost
      packages_with_options:
        - name: universal-ctags
          install_options: HEAD
      cask_packages:
        # - virtualbox
        # - virtualbox-extension-pack
        # - docker-toolbox
        - font-nyashi
        - google-chrome
        # - karabiner
        - miniconda
        - slack
        - rstudio
        - visual-studio-code

    anyenv:
      - env_name: rbenv
        environment: {}
        versions:
          - 2.1.2
          - 2.3.0
        global: 2.3.0
      - env_name: goenv
        environment: {}
        versions:
          - 1.9.6
        global: 1.9.6
      - env_name: ndenv
        environment: {}
        versions:
          - v5.11.0
        global: system
      - env_name: scalaenv
        environment: {}
        versions:
          - scala-2.11.8
        global: scala-2.11.8

  roles:
    - { role: base }
    - { role: homebrew, tags: [ 'mac' ] }
    - { role: terminal, tags: [ 'mac' ] }
    - anyenv
    # - { role: keymappings, tags: [ 'mac'] }
    - { role: neovim }
