---
# - name: "Retrieve terminal settings"
#   shell: "defaults export com.apple.Terminal - | grep '<key>' | sed 's/^[ \t]*//' | sed 's/<[^>]*>//g'"
#   register: terminal_settings
#   changed_when: no
#   check_mode: no

# - include: import.yml thema="{{ item }}"
#  when: terminal_settings.stdout_lines.count(item) < 1 
#  with_items:
#    - Solarized Dark
#    - Solarized Light

- name: "Set default thema"
  shell: defaults write com.apple.Terminal "Default Window Settings" -string "Solarized Dark"

- name: "Set startup thema"
  shell: defaults write com.apple.Terminal "Startup Window Settings" -string "Solarized Dark"

# Because of a bug, the following code does not work.
# - name: "Set default thema"
#   osx_defaults:
#     domain: com.apple.Terminal
#     key: "{{ item }}"
#     value: Solarized Dark
#     state: present
#     type: string
#   with_items:
#     - Default Window Settings
#     - Startup Window Settings
